<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">TiendaJohannCruz</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <ng-container *ngFor="let item of menuItems; trackBy: trackByFn">
        <li class="nav-item">
          <a class="nav-link" [href]="item.path">{{ item.label }}</a>
        </li>
      </ng-container>
    </ul>
  </div>
</nav>
